* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  height: 100px;
  background: -webkit-linear-gradient(rgb(230, 161, 172), white);
}
.flower-logo {
  margin: 0 1rem;
  font-size: 3.5rem;
  color: #062941;
  font-family: "Times New Roman", Times, serif;
}
li {
  list-style: none;
}
.nav li {
  display: inline-block;
  padding: 1rem;
  font-size: bold;
  margin-left: 0.5rem;
  color: #de3163;
}
